/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Sans&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
    font-family: 'Noto Sans', sans-serif;
    background-color: #DAE0E6;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    left:0;
    background-color: #FFFFFF;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 3;
}
.back-drop {
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.622);
    z-index: 10;
}
.trends-box {
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.picsum {
    margin: 0 10px;
    width: 144px;
    border-radius: 4px;
}
.hot-trends {
    margin: auto;
    text-align: center;
    font-size: 14px;
    margin: 30px 0 10px 0;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.089);
    z-index: 12;
    
}
.email, .password {
    
    outline-color:#ff4500;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.116);
    margin-bottom: 10px;
    padding: .7rem 5px;
    border-radius: 100px;
 
   
}
.Title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.UserAgreement {
    margin-bottom: 10px;
    color: #1a1a1b;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
#login {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
    padding: .7rem 5px;
}
.register-link{
    color: #1a1a1b;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.posts-container, .user-posts{
    
    padding: 20px 0 0 0;
    width: 640px;
    margin: auto;
    max-height: 400px;
}

.post-content {
    width: 600px;
    margin: 10px 0;
    text-align: justify;
}
.post-box {
    position: relative;
    display: flex;
    gap: 0 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 10px 5px 0;
}
.post-card {
    position: relative;
}
.fa-rectangle-xmark {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
.votes-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40px;
   text-align: center;
  
   height: 100%;

    
}
.post-dashboard {
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 640px;
    margin-top: 10px;
}
#content {
    outline-color: #1a1a1b1a;
    padding: 1rem;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-right: transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#add {
   
    background-color: none;
    border: 1px solid rgba(0, 0, 0, 0.142);
    width: 10%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.fa-circle-xmark {
position: absolute;
top: 10px;
right: 10px;
}
.fa-arrow-down, .fa-arrow-up {
    font-size: 23px;
}

.post-content {
    font-size: 14px;
}
.btn {
border:none;
padding: .3rem .7rem;
background-color: #ff4500;
font-size: 14px;
font-weight:bolder;
color: white;
border-radius: 9999px;
width: 80px;
}
.hidden {
    display: none;
}

@media screen and (max-width:660px){
    .posts-container {
        width: 580px;
    }
    .post-box {
        /* margin: auto; */
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 580px;
        margin-top: 10px;
    }
    .post-content {
        font-size: 14px;
        width: 530px;
    }
    .post-dashboard {
        width: 580px;
    }
    .hot-trends {
        width: 580px;
    }
    .picsum {
        width: 120px;
    }
    }
    .message-fail, .message-success {
        position: relative;
        background-color: #e9eaeb;
        border-radius: 4px;
        position: absolute;
        padding: 5px;
        top: -20px;
        right: 20px;
        border: 1px solid rgba(0, 0, 0, 0.19);
        z-index: 2;
    }
    .message-fail {
        color: rgb(124, 1, 1);
    }
    .message-success {
        color: rgb(30, 135, 37);
    }
    .message-fail::after, .message-success::after {
        position: absolute;
        bottom: -6px;
        right:5px;
        content:'';
        transform: rotate(140deg);
        width: 10px;
        height: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.19);
        border-right: 1px solid rgba(0, 0, 0, 0.19);
        background-color: #e9eaeb;
       z-index: 1;
        
    }
@media screen and (max-width:550px){
    .posts-container {
        width: 480px;
    }
    .post-box {
        /* margin: auto; */
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 480px;
        margin-top: 10px;
    }
    .post-content {
        font-size: 14px;
        width: 430px;
    }
    .post-dashboard {
        width: 480px;
    }
    .hot-trends {
        width: 480px;
    }
    .picsum {
        width: 100px;
    }
    }
